<h1>My Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
    <h3>
      <%= link_to article.title, article_path(article) %>.
      <small>
      <%= link_to article_path(article.id), method: :delete, data: { confirm: "Delete #{article.title}?" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
      </small>
    </h3>
      <p><%= article.content %></p>
    </li>
  <% end %>
</ul>
