

<h1><%= @article.title %>.
<small>
  <%= link_to article_path(@article.id), method: :delete, data: { confirm: "Delete #{@article.title}?" } do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  <% end %>
  <%= link_to edit_article_path(@article.id) %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
</small>
</h1>
<p class="well"><%= @article.content %></p>
